.icon__fb {
    background-image: url('/assets/img/socials/fb.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30%;
}

.icon__tw {
    background-image: url('/assets/img/socials/tw.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50%;

    background-color: #f16d7f;
}

.icon__tw:hover {
    background-color: #c05664;
}

.icon__in {
    background-image: url('/assets/img/socials/in.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 40%;
}

.icon__pinterest {
    background-image: url('/assets/img/socials/pint.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 40%;
}

.icon__google {
    background-image: url('/assets/img/socials/google.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60%;
}