.info {
    width: 195px;
    margin-left: 30px;
}

.info__title {
    font-family: "LatoBold", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #f16d7f;
    text-transform: uppercase;
}

.info__list {
    list-style: none;
    padding-left: 0;
}

.info__link {
    font-family: "LatoRegular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 59px;
    color: #898989;
}