.main-slider {
    min-width: 100%;
    height: 614px;
    background-image: url('/assets/img/slider/slide-1.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 98px;
}