.main-content__title {
    text-align: center;    
    text-align: center;
    font-family: "LatoBold", "Arial", sans-serif;
    font-weight: 700;
    font-size: 60px; /*поменять это h1*/
    line-height: 25px;
    color: #222222;
}