.pagination {
    width: 847px;
    height: 44px;
    display: flex;
    justify-content: space-between;
}

.pagination__list {
    width: 261px;
    height: 44px;
    border: 1px solid #ebebeb;
    border-radius: 10px;
}

.pagination__item {

}

.pagination__link {

}