.section-title {
    text-align: center;
    font-family: "LatoBold", "Arial", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
    color: #222222;

    margin-top: 0;
    margin-bottom: 16px;
}

.section-title__first-letter--upper {
    text-transform: uppercase;
}